<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"

	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!--xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"-->
	<description>== Shiro Components ==</description>

	<bean id="systemInit" class="com.digital.dance.common.utils.SystemInit"></bean>
	<bean id="cacheInitializer" class="com.digital.dance.core.shiro.service.impl.CacheInitializer"></bean>

	<bean name="api" class="com.digital.dance.core.tags.APITemplateModel"></bean>
	<bean name="springContextUtil" class="com.digital.dance.common.utils.SpringContextUtil" scope="singleton"></bean>
	<bean name="springUtil" class="com.digital.dance.common.utils.SpringUtils" scope="singleton"></bean>

	<bean id="verifyCodeUtilsService" class="com.digital.dance.common.utils.VerifyCodeUtils" ></bean>
	<!--<bean id="tokenManagerService" class="com.digital.dance.core.shiro.token.manager.TokenManager" ></bean>-->
	<!--<bean id="userManagerService" class="com.digital.dance.user.manager.UserManager" ></bean>-->
	<!--<bean id="customSessionManagerService" class="com.digital.dance.core.shiro.session.CustomSessionManager" ></bean>-->


	<context:component-scan base-package="com.digital.dance.*.controller;com.digital.dance.*.*.controller"/>
	<!-- Shiro生命周期处理器-->
	<!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />-->
	
	
	<!-- ============================================================================ -->

</beans>

