<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
    		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">
	<!--xmlns:util="http://www.springframework.org/schema/util"-->
	<!--xmlns:task="http://www.springframework.org/schema/task"-->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${redis.maxActive}"/>
		<property name="maxIdle" value="${redis.maxIdle}"/>
		<property name="maxWaitMillis" value="${redis.maxWait}"/>
		<property name="testOnBorrow" value="${redis.testOnBorrow}"/>
	</bean>
	 <!-- -->
	<!-- redis 配置,也可以把配置挪到properties配置文件中,再读取 -->

	<!--集群Redis-->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<!--Redis-CLuster-->
		<constructor-arg index="0" ref="redisClusterConfig"/>

		<!--配置Redis连接池 ，可以不配置，使用默认就行！-->
		<constructor-arg index="1" ref="jedisPoolConfig"/>
	</bean>

	<!--集群模式配置-->
	<bean id="redisClusterConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
		<property name="maxRedirects" value="${redis.cluster.maxRedirects}"/>
		<property name="clusterNodes">
			<set>
				<bean id="cluster0" class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${redis.cluster0.host}"/>
					<constructor-arg name="port" value="${redis.cluster0.port}"/>
				</bean>
				<bean id="cluster1" class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${redis.cluster1.host}"/>
					<constructor-arg name="port" value="${redis.cluster1.port}"/>
				</bean>
				<bean id="cluster2" class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${redis.cluster2.host}"/>
					<constructor-arg name="port" value="${redis.cluster2.port}"/>
				</bean>
				<bean id="cluster3" class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${redis.cluster3.host}"/>
					<constructor-arg name="port" value="${redis.cluster3.port}"/>
				</bean>
				<bean id="cluster4" class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${redis.cluster4.host}"/>
					<constructor-arg name="port" value="${redis.cluster4.port}"/>
				</bean>
				<bean id="cluster5" class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${redis.cluster5.host}"/>
					<constructor-arg name="port" value="${redis.cluster5.port}"/>
				</bean>
			</set>
		</property>
	</bean>

	<bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory" />
	</bean>


	<!-- 替代默认使用cookie,这里使用的是httpheader -->
	<!-- <bean id="httpSessonStrategy" class="org.springframework.session.web.http.HeaderHttpSessionStrategy"/> -->
	<!-- 将session放入redis -->
	<bean id="redisHttpSessionConfiguration" class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
		<property name="maxInactiveIntervalInSeconds" value="1800" />
		<!-- <property name="httpSessionStrategy" ref="httpSessonStrategy"/> -->
	</bean>

	<bean id="redisFactory" class="com.digital.dance.framework.codis.client.RedisFactory">
		<property name="config" ref="jedisPoolConfig"/>
		<!--<property name="proxyHost" value="${redis.host}"/>-->
		<!--<property name="port" value="${redis.port}"/>-->
		<property name="subSysName" value="${codis.subSysName}"/>
		<property name="authpassword" value="${codis.authpassword}"/>
		<property name="timeout" value="${redis.cache.timeout}"/>
		<property name="nodes" value="${redis.nodes}"/>
	</bean>
	<bean id="codis" class="com.digital.dance.framework.codis.impl.CodisImpl">
		<property name="salt" value="${codis.salt}"/>
		<property name="redisFactory" ref="redisFactory"/>
	</bean>

	<bean id="redis" class="com.digital.dance.framework.codis.impl.CodisImpl">
		<property name="salt" value="${codis.salt}"/>
		<property name="redisFactory" ref="redisFactory"/>
	</bean>

	<bean id="jedisManager" class="com.digital.dance.core.shiro.cache.JedisManager">
		<!--<property name="jedisPool" ref="jedisPool"/>-->
		<property name="expireTime" value="1200"/>
		<property name="jedisPoolConfig" ref="jedisPoolConfig"/>
		<property name="nodes" value="${redis.nodes}"/>
		<property name="codis" ref="codis"/>
	</bean>

	<!--<context:component-scan base-package="org.springframework.web.filter.DelegatingFilterProxy"></context:component-scan>-->
</beans>